<%= form_with(model: habit, local: true) do |form| %>
  <% if habit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(habit.errors.count, "error") %> prohibited this habit from being saved:</h2>

      <ul>
      <% habit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :habit_name %>
  </div>

  <div class="field">
    <%= form.label :interval %>
    <%= form.number_field :interval, id: :habit_interval %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
