<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @habit.name %>
</p>

<p>
  <strong>Interval:</strong>
  <%= @habit.interval %>
</p>

<%= link_to 'Edit', edit_habit_path(@habit) %> |
<%= link_to 'Back', habits_path %>
